.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("/static/images/front.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logofont{
    font-family:'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 32px;
}
#logoimg{
    border-radius: 30%;
    max-height: 70px;
    padding: 0;
}
body{
    background-color: white;
    background-image: linear-gradient(to right, #cbce38 ,#fff8e0, #a84b20);
}
.my_card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color:inherit;
    background-clip: border-box;
    border: 2px solid rgb(245, 245, 245);
    border-radius: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my_card > div{
    padding-left: 10px;
}

.my_card > h4{
    padding-left: 10px;
    padding-top: 6px;
}

.avatar{
    max-width: 54x;
    max-height:54px;
    margin: 0;
    border-radius: 35%;
}

.avatar_max{
    max-width: 200x;
    max-height:200px;
    margin: 0 auto;
    border-radius: 35%;
    position: relative;
}

.layout__box {
    width: 90%;
    max-width: 48rem;
    min-height: 42rem;
    transform: translate(35%);
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 35px;
}
  

#myBadge {
    position: absolute;
    top: 42%;
    left: 52%;
  }