{% extends 'main.html' %}
{% load static %}

{% block content %}
<main class="eventback">
<div class="container-fluid h-100 ">
    <div class="row">
        <div class="col-lg-2 mt-3" id="management">
            <div class="d-grid bg-light mt-2 rounded shadow">
                {% csrf_token %}
                <button class="btn btn-success mx-2 mt-2 mb-2" type="button" id="invite_for_event_exterior"><b>Invite for this event</b></button>
                {% if request.user == user %}
                <button class="btn btn-info mx-2 mb-2" type="button" id="event_picture_exterior"><b>Change event's picture</b></button>
                <button class="btn btn-info mx-2 mb-2" type="button" id="event_specifics_exterior"><b>Change specifics of the event</b></button>
                <button class="btn btn-info mx-2 mb-2" type="button" id="enable_inviting"><b>Enable inviting for participants</b></button>
                <button class="btn btn-warning mx-2 mb-2" type="button" id="disable_inviting"><b>Disable inviting for participants</b></button>
                <button class="btn btn-warning mx-2 mb-2" type="button" id="kick_participant_exterior"><b>Kick out the participant</b></button>
                <button class="btn btn-danger mx-2 mb-2" type="button" id="delete_event_exterior"><b>Delete the event</b></button>
                {% endif %}
            </div>
            
            <div class="mx-2 mt-4" id="participants">

            </div>
        </div>
        <div id="main" class="col-lg-8 my-4">
            
        </div>
        <div id="suggested" class="col-lg-8">
            
        </div>
    </div>


    <div class="modal fade" id="mainModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="fw-bold display-4 text-center w-100" id="delete-title" hidden>Delete the event</h1>
              <h1 class="modal-title fw-bold display-4 text-center w-100" id="picture-title" hidden>Change the banner picture</h1>
              <h1 class="modal-title fw-bold display-4 text-center w-100" id="specifics-title" hidden>Change event's info</h1>
              <h1 class=" modal-title fw-bold display-4 text-center w-100" id="invite-title" hidden>Invite new user to the event</h1>
              <h1 class="modal-title fw-bold display-4 text-center w-100" id="kick-title" hidden>Kick the participant out from event</h1>
              <button type="button" class="btn-close" id="close"></button>
            </div>
            <div class="modal-body" id="invite-body" hidden>
              1
            </div>
            <div class="modal-body" id="specifics-body" hidden>
                <form>
                  {% for field in form %}
                      <div class="row d-flex">
                          <div class="col-sm-1">
                          </div>
                          <div class="col-sm-10">
                              <div class="input-group my-2">
                                  {% if field.name == 'is_open' or field.name == 'is_free' %}
                                      <span class="input-group-text bg-info fs-5 fw-bold p-1 me-5 text-dark w-10">&nbsp;&nbsp;{{field.label_tag}}&nbsp;&nbsp;</span>
                                      {{field}}
                                  {% elif field.name == 'description' %}
                                      <span class="input-group-text bg-info fs-5 fw-bold p-1 text-dark">&nbsp;{{field.label_tag}}&nbsp;</span>
                                      {{field}}
                                  {% else %}
                                      <span class="input-group-text bg-info fs-5 fw-bold p-1 text-dark">&nbsp;&nbsp;&nbsp;&nbsp;{{field.label_tag}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                      {{field}}
                                  {% endif %}
                              </div>
                          </div>
                          <div class="col-sm-1">
                          </div>
                      </div>
                  {% endfor %}
                  <ul class="list-group list-group-flush mx-5">
                      <li id="emptyFields" class="list-group-item text-danger fw-bold list-group-item-danger rounded mb-1" hidden>You haven't filled all fields.</li>
                      <li id="badDate" class="list-group-item text-danger fw-bold list-group-item-danger rounded" hidden>End date can't be earlier than start date.</li>
                  </ul>
                </form>
                <div class="d-grid mt-3">
                    <input id="event-specifics-interior" class="btn btn-lg btn-outline-dark px-5" type="submit" value="Change event's data">
                </div>
            </div>
            <div class="modal-body" id="delete-body" hidden>
                <h4>Are you certain that you want to permamently delete this event???</h4>
                <div class="col-sm2"></div>
                <div class="col-sm-8 d-grid w-100 my-4">
                    <button class="btn btn-lg btn-outline-danger" id="delete_event_interior"><b>Delete event</b></button>
                </div>
                <div class="col-sm2"></div> 
            </div>
            <div class="modal-body" id="picture-body" hidden>
              <div class="mb-3">
                <input class="form-control from-control-lg" type="file" id="banner-picture-input">
                <div class="my-2 d-grid">
                    <button class="btn btn-outline-info" id="banner-picture-submit"><b>Upload the image</b></button>
                </div>
              </div>
            </div>
            <div class="modal-body" id="kick-body" hidden>
              <h4>Click the participant you want to kick out: </h4>
              <div class="col-sm-8 w-100 mt-3" id="users_to_kick">
                  
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="supportingModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
              <div class="modal-header">
                <h2 class=" modal-title fw-bold text-center w-100" id="final-invite-title" hidden>Are you sure that you want to send an invitation to this user ?</h2>
                <h2 class="modal-title fw-bold text-center w-100" id="final-kick-title" hidden>Are you sure you want to kick this participant out ?</h2>
              </div>
              <div id="user-data" class="text-center bg-light rounded my-1 me-0 w-100">

              </div>
              <div class="modal-body w-100 d-grid gap-2" id="final-kick-body">
                  <button id="final-kick-negative" class="btn btn-lg btn-outline-secondary" hidden><b>Do not kick him</b></button>
                  <button id="final-kick-positive" class="btn btn-lg btn-outline-danger" hidden><b>Kick the participant out</b></button>
              </div>
              
              <div class="modal-body w-100 d-grid gap-2" id="final-invite-body">
                  <button id="final-kick-negative" class="btn btn-lg btn-outline-secondary" hidden><b>Do not invite him</b></button>
                  <button id="final-kick-positive" class="btn btn-lg btn-outline-danger" hidden><b>Invite the participant out</b></button>
              </div>
          </div>
        </div>
      </div>

</div>
</main>

<script data-event_id="{{ event_id }}">
    const data = document.currentScript.dataset;
    const event_id = data.event_id;
</script>
<script type="text/javascript" src="{% static 'js/major/formManager.js' %}"></script>
<script type="text/javascript" src="{% static 'js/for_templates/eventSite.js' %}"></script>
{% endblock content %}
