{% extends 'main.html' %}
{% load static %}

{% block content %}
    <main class="create-room layout mt-5">
      <div class="container">
        <div class="layout__box bg-dark">
            <h1 class="text-center text-white fw-bold mt-5 mb-2">Look for new friends</h1>
            <div class="mx-5">
              <form method="POST" action="">
                {% csrf_token %}
                <div class="d-flex justify-content-center">
                    <div class="input-group mt-5">
                        <input id="users" name="users" onkeyup="searchUsers()" type="text" class="form-control" placeholder="Name of the user..." aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-light" type="submit" id="buttonMain"><i class="fas fa-search"></i></button>
                    </div>
                </div>
              <form>
              {{request.user.id|json_script:"mydata" }}
              <div id="list1" class="d-grid" style="position:absolute; z-index:1;"></div>
              <h3 class="fw-bold text-light mt-5">Suggested friends:</h3>
              <ul class="list-group list-group-flush mt-1">
                {% for friend in friendsForFriends %}
                <li class="list-group-item rounded p-0 mt-1">
                  <div class="d-grid">
                    <button type="button" class="btn btn-light rounded" id="{{friend.username}}">
                      <img class="avatar" src="{{friend.image.url}}">
                      <span id="{{friend.username}}" class="text-nowrap fs-4 me-4 ms-2 fw-bold text-dark">@{{friend.username}}</span>
                    </button>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script src="{% static 'js/for_templates/lookforfriends.js' %}" type="text/javascript"></script>
{% endblock content %}
