{% extends 'main.html' %}
{% load static %}

{% block content %}

<header class="settings">
<div class="container-fluid h-100 ">
	<div class="row">
		<div class="col-lg-4 mt-5">
			<div class="bg-light d-grid p-3 rounded border border-info border-4 ms-5 mb-3">
				<a href="{% url 'userprofile' request.user.id %}" class="btn btn-lg btn-outline-dark"><span class="fw-bold">&#8592; Back to Profile</span></a>
			</div>
			<div class="bg-light d-grid gap-2 p-3 rounded border border-info border-4 ms-5">
				<h1 class="fw-bold text-info text-center">Manage your account</h1>
				<a href="" class="btn btn-lg btn-outline-info"><span class="fw-bold">Change your password</span></a>
				<a href="" class="btn btn-lg btn-outline-info"><span class="fw-bold">Send email to our team</span></a>
				<a href="" class="btn btn-lg btn-outline-success"><span class="fw-bold">Activate PREMIUM</span></a>
				<a href="" class="btn btn-lg btn-outline-danger mt-4"><span class="fw-bold">Delete your account</span></a>
			</div>
		</div>
		<div class="col-lg-4 mt-5">
			
		</div>
		<div class="col-lg-4 mt-5">
			<div class="bg-light d-grid gap-2 p-3 rounded border border-info border-4 me-5">
				<h1 class="fw-bold text-info text-center">Change your personal data</h1>
				<form method="POST">
					{% csrf_token %}
					{% for field in form %}
						{{field.label}} :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<input type='hidden' value='False' name="hide_mail">
						{{field}}<br>
					{% endfor %}
					<div class="d-grid">
					<button type="submit" class="btn btn-lg btn-outline-dark">Submit</button>
					</div>
				</form>
				{% for message in messages %}
					{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
					<div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
						<span class="fw-bold">{{message}}</span>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% else %}
					<div class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
						<span class="fw-bold">{{message}}</span>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
</header>

{% endblock content %}